.comingSoonSection {
  padding: 0.5rem 8rem;
  margin-bottom: 8rem;
}

.sectionHeading {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comingSoonSectionHeading {
  color: #ec7532;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-weight: 300;
}

.btn {
  color: #ec7532;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-weight: 300;
}

.inp {
  box-shadow: 0 0 20px 0 #fbbd61;
  padding: 8px 20px;
  outline: none;
  border-radius: 5px;
  margin-right: 1rem;
  border: 1px solid linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}

.comingSoonSectionHeading::after {
  position: absolute;
  right: auto;
  bottom: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 4px;
  content: "";
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 20px 0 #fbbd61;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}

.productItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 1rem;
  border-bottom: 1px solid #d8d8d8;
}

.genre {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61;
}

.prodContent {
  padding: 0 2rem;
}

.movieName {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
}

.productImg {
  width: 100%;
  object-fit: contain;
}

.movieInfo {
  color: #717171;
  font-size: 16px;
  /* overflow: hidden;
  text-overflow: hidden;
  white-space: nowrap;
  max-width: 1000px; */
}

.time {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fbbd61;
}

.movieLan {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #101010;
  margin-top: 10px;
}
