.imgHover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}

.movieSlide {
  position: relative;
}

.movieSlide:hover .imgHover {
  opacity: 0;
}
